SOAPTest/SOAPTest3/Connected Services/SeeburgerService/MFT-WebServiceMFTPort.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ns2="http://uri.seeburger.com/bisas/schema/WebServiceMFT" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://uri.seeburger.com/bisas/interfaces/WebServiceMFT" targetNamespace="http://uri.seeburger.com/bisas/interfaces/WebServiceMFT" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <plnk:partnerLinkType name="MFT-WebServiceMFT" wsdl:required="true">
    <!--:P -->
    <plnk:role name="role_MFT-WebServiceMFT" wsdl:required="false">
      <plnk:portType name="ns1:MFT-WebServiceMFTPortType" />
    </plnk:role>
    <plnk:role name="role_MFT-WebServiceMFTLink" wsdl:required="false">
      <plnk:portType name="ns1:MFT-WebServiceMFTPortType" />
    </plnk:role>
  </plnk:partnerLinkType>
  <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="Policy-1">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:MTOM xmlns:wsoma="http://www.w3.org/2007/08/soap12-mtom-policy" wsp:Optional="true" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema xmlns="http://uri.seeburger.com/bisas/interfaces/WebServiceMFT" targetNamespace="http://uri.seeburger.com/bisas/interfaces/WebServiceMFT">
      <xsd:import schemaLocation="MFT-WebServiceTypes.xsd" namespace="http://uri.seeburger.com/bisas/schema/WebServiceMFT" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="WebServiceToFtpOut">
    <wsdl:part name="Status" element="ns2:Status" />
    <wsdl:part name="Files" element="ns2:FilesElement" />
    <wsdl:part name="error" element="ns2:ErrorElement" />
  </wsdl:message>
  <wsdl:message name="WebServiceToMailIn">
    <wsdl:part name="Files" element="ns2:FilesElement" />
    <wsdl:part name="MailParams" element="ns2:MailParams" />
    <wsdl:part name="SeeFXParams" element="ns2:SeeFXParams" />
  </wsdl:message>
  <wsdl:message name="WebServiceToFtpIn">
    <wsdl:part name="Files" element="ns2:FilesElement" />
    <wsdl:part name="FtpParams" element="ns2:FtpParams" />
  </wsdl:message>
  <wsdl:message name="WebServiceToMailOut">
    <wsdl:part name="Status" element="ns2:Status" />
    <wsdl:part name="Files" element="ns2:FilesElement" />
    <wsdl:part name="error" element="ns2:ErrorElement" />
  </wsdl:message>
  <wsdl:portType name="MFT-WebServiceMFTPortType">
    <wsdl:operation name="WebServiceToFtp">
      <wsdl:documentation>
        <pddoc:processDesignerOperationDoc xmlns:pddoc="http://uri.seeburger.com/bisas/processDesigner/doc" type="Invoke" />
      </wsdl:documentation>
      <wsdl:input message="ns1:WebServiceToFtpIn" />
      <wsdl:output message="ns1:WebServiceToFtpOut" />
    </wsdl:operation>
    <wsdl:operation name="WebServiceToMail">
      <wsdl:documentation>
        <pddoc:processDesignerOperationDoc xmlns:pddoc="http://uri.seeburger.com/bisas/processDesigner/doc" type="Invoke" />
      </wsdl:documentation>
      <wsdl:input message="ns1:WebServiceToMailIn" />
      <wsdl:output message="ns1:WebServiceToMailOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoapBinding" type="ns1:MFT-WebServiceMFTPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#Policy-1" />
    <wsdl:operation name="WebServiceToFtp">
      <soap:operation soapAction="http://uri.seeburger.com/bisas/interfaces/WebServiceMFT/WebServiceToFtp" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebServiceToMail">
      <soap:operation soapAction="http://uri.seeburger.com/bisas/interfaces/WebServiceMFT/WebServiceToMail" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MFT-WebService">
    <wsdl:port name="MFT-WebServiceMFTPort" binding="ns1:SoapBinding">
      <soap:address location="http://wendell.wuerth.com:80/ws/MFT-WebServiceMFTPort?ls=000" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>